<configuration>
    <!-- Imposta il livello di log globale -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- Configurazione per l'output sulla console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

</configuration>